.settings {
    display:flex;
    }
    .accSetting{
      display:flex;
      justify-content: center;
      align-items: center;
       text-align: center;
     }
    .gearThing {
      width: 50px;
      height: relative;
    }
    
    .box{
      margin-top:25px;
    }
    .deleteBtn{
      margin-top: 10px;
    }
    
    .confirmBtn{
      margin-left:10px;
    }