
li {
    border-top: 1px solid rgba(131, 97, 97, 0.253);
    margin-left: 5px;
    border-radius: 2px;
    
  }
  
  .img {
    width: 300px;
    /* height: relative; */
  }
  
  .fresh {
    width: 20px;
    height: relative;
    padding: 3px;
  }
  
  .not-fresh {
    width: 20px;
    height: relative;
    transform: rotateX(180deg);
    margin-bottom: 10px;

  }
  
  li:hover {
    background-color: lightgrey; 
    color: black;
  }
  
  .item {
    margin-left: 5px;
    margin-bottom: 2px;
    display: flex;
    flex-direction: row;
  }
  
  .article-section {
    display: block;
    margin-left: 5px;
    height: 200px;
    overflow: auto;
  }
  /* .listItem {
    display: flex;
  } */
  
  .score {
    display: none;
    /* margin-left: 5px;
    margin-right: 15px;
    margin-top: 10px;
    text-align: center;
    display: block;
    width: 50px; */
  }

  .ovenBtn {
    height: 35px;
    text-align: center;
    display: flex;
    cursor: pointer;
    margin: 9px;
  }

  .ovenBtn:hover {
    background-color: orange;
  }

  .ovenTxt {
    padding: 5px;
    font-weight: bolder;
  }

  .like {
    border-top: 1px solid lightgrey;
    padding: 5px;
    padding-top: 10px;
    width: 20px;
    cursor: pointer;
  }
  
  .comments {
    width: 20px;
    cursor: pointer;
  }  

  .open-link {
    width: 15px;
    cursor: pointer;
  }

  .newItemBtns {
    display: flex;
    flex-direction: row;
  }
  .openLinkBtn {
    text-decoration: none;
    color: black;
    border: 1px solid black;
    border-radius: 2px;
    padding: 5px;
  }

  .openLinkBtn:hover {
    background-color: grey;
  }
  .NewsItemBtn {
      background-color: transparent;
      border: none;
      cursor: pointer;
  }


  @media only screen and (max-width: 600px) {
    .item {
      display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;

    }
    img {
      text-align: center;
    } 
    .openLinkBtn {
      float: left;
    }
  }