header {
    background-color: rgba(16, 7, 56, 0.993);
    display: flex;
    /* flex-direction: row; */
    border-radius: 2px;
    height: auto;
    
}
.bar1, .bar2, .bar3 {
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
    margin-left: 130px;
    /* display: none; */
    z-index: 999;
    transition: 0.4s;
}
/* Rotate first bar */
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-8px, 4px);
    transform: rotate(-45deg) translate(-8px, 4px);
  }
  
  /* Fade out the second bar */
  .change .bar2 {
    opacity: 0;
  }
  
  /* Rotate last bar */
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -5px);
    transform: rotate(45deg) translate(-8px, -5px);
  }

.nav-container {
    display: inline-block;
    cursor: pointer;
    display: none;
}

.user-name {
    color: beige;
    /* padding: 5px; */
    /* margin-bottom: 5px; */
}

.mainHeader:hover {
    cursor: pointer;
}

.nav {
    /* display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-end;
    padding: 5px; */
    right: 0;
    position: absolute;
    padding: 30px;
}
  
.mainHeader {
    padding-bottom: 15px;
    margin-left: 15px;
    font-size: 26px;
    text-decoration: none;
    color: lightgrey;
}

.headerLinks {
    padding: 5px;
    text-decoration: none;
    color: lightgrey;
    font-weight: bold; 
}

.headerLinks:hover {
    background-color: lightgrey;
    border-radius: 3px; 
    color: black;
  }

.mobile-menu {
    display: none;
}

  @media only screen and (max-width: 600px) {
      .nav-container {
          display: block;
      }
      .menu {
          display: flex;
          flex-direction: column;
      }
      .nav {
          /* display: none; */
      }
      .user-name {
          display: none;
      }
      .wide-menu {
          display: none;
      }
      .mobile-menu {
          display: flex;
          background-color:  rgba(16, 7, 56, 0.728);
          text-align: right;
          margin-left: 70px;
      }
      .headerLinks:hover {
          background-color: transparent;
          color: beige;
      }
  }

