li {
  border-top: 1px solid rgba(131, 97, 97, 0.253);
  margin-left: 5px;
  border-radius: 2px;
}

.score {
  width: 50px;
}

.img {
  width:  relative;
  height: 200px;
}

.fresh {
  width: 20px;
  height: relative;
}

.not-fresh {
  width: 20px;
  height: relative;
  transform: rotateX(180deg);
  margin-bottom: 10px;
}

li:hover {
  background-color: lightgrey; 
  color: black;
}

.item {
  margin-left: 5px;
  margin-bottom: 2px;
  margin-top: 10px;
  /* display: flex;
  flex-direction: row; */
  border-left: 2px solid #cfcfcf;
}

.article-section {
  display: block;
  margin-left: 5px;
  height: 210px;
  padding: 15px;
  text-align: center;
}

.article-section p {
  display: none;
}

.listItem {
  display: flex;
}

.score {
  margin: 20px auto 40px auto;
  text-align: center;
  display: block;
}

.like {
  border-top: 1px solid lightgrey;
  padding: 5px;
  padding-top: 10px;
  width: 20px;
  cursor: pointer;
}

.comments {
  width: 20px;
  cursor: pointer;
}  

.open-link {
  width: 15px;
  cursor: pointer;
}

.openLinkBtn {
  display: inline-block;
  float: none;
  text-decoration: none;
  color: black;
  border: 1px solid black;
  border-radius: 2px;
  padding: 10px;
  margin-top: 20px;
}

.openLinkBtn:hover {
  background-color: grey;
}
.OvenItemBtn {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.heart {
  margin-top: 50px;
  margin-bottom: 50px;
}