li {
  border-top: 1px solid rgba(131, 97, 97, 0.253);
  margin-left: 5px;
  border-radius: 2px;
}

.score {
  width: 50px;
  position: relative;
  float: left;
  padding: 10px;
}

.oven {
  border-right: 2px solid #cfcfcf;
}

.img {
  width:  relative;
  height: 200px;
  max-width: 210px;
}

.fresh {
  width: 20px;
  height: relative;
}

.not-fresh {
  width: 20px;
  height: relative;
  transform: rotateX(180deg);
  margin-bottom: 10px;
}

li:hover {
  background-color: lightgrey; 
  color: black;
}

.item {
  margin-left: 5px;
  margin-bottom: 2px;
  margin-top: 15px;
  margin-right: 20px;
  display: inline-block;
  width: 60%;
}

.article-section {
  /* display: block; */
  margin-left: 5px;
  padding: 15px;
  text-align: center;
  height: 300px;
}

.article-section p {
  display: none;
}

.listItem {
  position: relative;
  float: left;
  display: block;
}

.score {
  margin: 20px auto 40px auto;
  text-align: center;
  display: block;
}

.like {
  border-top: 1px solid lightgrey;
  padding: 5px;
  padding-top: 10px;
  width: 20px;
  cursor: pointer;
}

.comments {
  width: 20px;
  cursor: pointer;
}  

.open-link {
  width: 15px;
  cursor: pointer;
}

.openLinkBtn {
  display: inline-block;
  float: none;
  text-decoration: none;
  color: black;
  border: 1px solid black;
  border-radius: 2px;
  padding: 10px;
  margin-top: 20px;
}

.openLinkBtn:hover {
  background-color: grey;
}
.OvenItemBtn {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.up-bread {
  margin-top: 20px;
}

.heart {
  margin-top: 150px;
  margin-bottom: 50px;
}

@media only screen and (min-width: 375px) {
  .item {
    width: 70%;
  }
  .img {
    max-width: 270px;
  }
  .listItem {
    width: 100%;
  }
} 

@media only screen and (min-width: 550px) {
  .listItem {
    height: 450px;
    /* overflow: hidden; */
  }
  .heart {
    margin-top: 70px;
  }
}

@media only screen and (min-width: 768px) {
  .item {
    width: 80%;
    text-align: center;
  }
  .img {
    margin-top: 100px;
    position: relative;
    float: left;
    max-width: 400px;
    margin-right: 30px;
  }
  .listItem {
    width: 100%;
    /* overflow: hidden; */
  }
  .article-section {
    height: 500px;
  }
  .article-section p {
    display: block;
  }

}

@media only screen and (min-width: 1100px) {
  .article-section {
    margin-top: 30px;
    text-align: left;
  }
  .listItem {
    height: 400px;
    /* overflow: hidden; */
  }
  .heart {
    margin-top: 80px;
  }
  .img {
    margin-top: 50px;
    height: 250px;
    width: 600px;
  }
}