li {
  border-top: 1px solid rgba(131, 97, 97, 0.253);
  border-radius: 2px;
  height: auto;
}

li:hover {
  background-color: lightgrey; 
  color: black;
}

.img {
  width:  relative;
  height: 200px;
  max-width: 210px;
}

.listItem {
  width: 100%;
  display: flex;
  padding: 25px;
  padding-left: 0;
  margin-left: 0;
  flex-direction: column;
  /* position: relative;
  float: left; */
  /* display: block; */
  /* height: 500px; */
  text-align: center;
}

.item {
  margin: auto;
  /* margin-left: 5px;
  margin-bottom: 2px;
  margin-top: 15px;
  margin-right: 20px; */
  /* display: block; */
  width: 60%;
}

.article-section {
  display: inline-block;
  text-align: center;
  height: auto;
}

.empty-space {
  height: 10px;
}

.article-section p {
  display: none;
}

.score {
  margin: auto;
  /* margin: 20px auto 40px auto; */
  text-align: center;
  display: flex;
  width: 90%;
  /* position: relative;
  float: left; */
  /* padding: 10px; */
  border-top: 2px solid #cfcfcf;
  border-bottom: 2px solid #cfcfcf;
}

.OvenItemBtn {
  /* width: 100%; */
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: auto;
}

.fresh {
  width: 30px;
  height: relative;
  /* padding: 3px; */
}

.not-fresh {
  width: 30px;
  height: relative;
  transform: rotateX(180deg);
  /* margin-bottom: 10px; */
}

/* .like {
  border-top: 1px solid lightgrey;
  padding: 5px;
  padding-top: 10px;
  width: 20px;
  cursor: pointer;
}

.up-bread {
  margin-top: 20px;
}

.heart {
  margin-top: 150px;
  margin-bottom: 50px;
} */

.comments {
  width: 20px;
  cursor: pointer;
}  

.comments-container {
  overflow: auto;
  display: block;
}

.open-link {
  width: 15px;
  cursor: pointer;
}

.openLinkBtn {
  /* position: relative;
  float: right; */
  text-decoration: none;
  color: black;
  border: 1px solid black;
  border-radius: 2px;
  padding: 10px;
}

.openLinkBtn:hover {
  background-color: grey;
}

@media only screen and (min-width: 375px) {
  .item {
    width: 70%;
  }
  .img {
    max-width: 270px;
  }
} 

@media only screen and (min-width: 550px) {
  .item {
    width: 75%;
  }
  .img {
    max-width: 300px;
  }
  .score {
    width: 70%;
  }
}

@media only screen and (min-width: 750px) {
  .item {
    width: 80%;
  }
  .score {
    width: 60%;
  }
  .img {
    max-width: 400px;
  }
  .listItem {
    width: 100%;
    overflow: hidden;
  }
  .article-section p {
    display: block;
    margin-bottom: 20px;
  }
}

@media only screen and (min-width: 1100px) {
  .img {
    position: relative;
    float: left;
    margin-bottom: 20px;
  }
  .item {
    width: 96%;
  }
  .score {
    width: 40%;
    border-top: none;
  }
  
  .article-section {
    position: relative;
    float: right;
    margin: auto;
    text-align: left;
    width: 60%;
    /* padding: 25px; */
  }
  .article-section h3 {
    margin-top: 40px;
  }
}

@media only screen and (min-width: 1300px) {
  .article-section {
    width: 62%;
  }
  .item {
    width: 93%;
  }
}

@media only screen and (min-width: 1600px) {
  .article-section {
    width: 70%;
  }
  .item {
    width: 97%;
  }
}

@media only screen and (min-width: 1700px) {
  .item {
    width: 90%;
  }
}

/*comment popup styling */
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  z-index: 1;
}

.comment-textarea {
  border-radius: 2px;
  height: 75px;
  width: 200px;
  margin-top: 10px;
}

.individual-comment-container {
  border-bottom: 1px lightgrey solid;
}
.comment-date {
  font-size: x-small;
  text-align: left;
  margin-bottom: 5px;
}

.user-posted-info {
  display: flex;
  flex-direction: row;
}

.comment-body {
  padding: 5px;
  margin-left: 5px;
}


.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 70%;
  position: relative;
  transition: all 5s ease-in-out;
  overflow: auto;
  z-index: -1;
  height: 55%;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content-comment {
  /* max-height: 30%; */
  z-index: -1;
  overflow: auto;
}

.content-comment {
  height: 70%;
  /* border: 1px solid purple; */
}

.CommentForm {
  position: relative;
  bottom: 1%;
  
}

.img {
  margin-top: 50px;
  height: 250px;
  width: 600px;
}